# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Streamlit
.streamlit/

# Virtual environment
venv/
*.venv/
env/

# Dependencies and distribution
*.egg-info/
dist/
build/

# Logs and temp files
*.log

# Temporary files (e.g., Vim, Emacs, etc.)
*.swp
